<h1>Trendings</h1>
<table>
  <tr>
    <th>Thumbnail</th>
    <th>title</th>
  </tr>
  <% for i in 0...10 %>
      <tr>
        <td><% if i <= 5 %>
              <img src="<%= @pics[i]['src'] %>" alt=""/>
          <% else %>
              <img src="<%= @pics[i]['data-thumb'] %>" alt=""/>
          <% end %></td>
        <td><a href="https://www.youtube.com<%= @links[i]['href'] %>"><%= @links[i]['title'] %></a></td>

      </tr>
  <% end %>
</table>
<p><%= link_to 'Problem set 1' , basics1_index_path %></p>
<p><%= link_to "Web 02's Page", home_index_path %></p>